@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border p-0 m-0;
}

html {
  @apply font-sans scroll-smooth text-base;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  @apply w-4;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-clip-content border-4 border-solid border-transparent;
}
/* light */
html ::-webkit-scrollbar-thumb {
  @apply bg-default-100;
}
html ::-webkit-scrollbar-thumb:hover {
  @apply bg-default-200;
}
/* dark */
html.dark ::-webkit-scrollbar-thumb {
  @apply bg-default-900;
}
html.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-default-800;
}

/* CUSTOM */

/* Content Scroll Bar */
.content-with-scroll {
  overflow-y: scroll;
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}
.content-with-scroll:hover {
  -webkit-mask-position: left top;
}
